//_homepage.scss;

*{
  box-sizing:border-box;
}
body{
  background-color:#F3F3F5;
}

.dashboard{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  //height:100vh;
  justify-content: space-evenly;
}

.movies{
  //margin: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
}