
.progressChartBar {
  color: site-colors("text-light");
  display: flex;
  flex-direction: column;
  width:100%;
  @media screen and (max-width: 1000px) {
    font-size:$fontMed;
  }
}

.progressChartBar__title {
  margin: 10px 0;
  font-size: $fontSmall;
}

.progressChartBar__count {
  font-size: $fontExLarge;
  font-weight: $weightExLight;
}

.progressChartBar__bar {
  width: 100%;
  @media screen and (max-width: 1000px) {
    font-size:$fontSmall;
  }
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress.progressChartBar__bar::-webkit-progress-value,
progress.progressChartBar__bar::-webkit-progress-value {
  background-color: site-colors("accent2");
}
