.text-dark {
  color: #616264; }

.text-light {
  color: #9D9D9D; }

.background-secondary {
  background-color: rgba(144, 217, 202, 0.6); }

.button--primary {
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin: 20px;
  padding: 10px;
  transition: 0.2s background-color;
  white-space: nowrap; }

.right {
  float: right; }

.left {
  float: left; }

.center {
  margin-left: auto;
  margin-right: auto; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.button--primary {
  background-color: #2285C8;
  border: 2px solid #2285C8;
  color: #ffffff; }
  .button--primary:hover {
    background-color: #2285C8;
    color: #ffffff; }
  .button--primary:active {
    background-color: #2285C8;
    color: #ffffff; }

.chart {
  position: relative;
  height: 30vh;
  width: 50vw;
  margin: 20px 5vw 20px 20px;
  /* @media screen and (max-width: 1180px){
    height:300px;
    width:750px;
  }
  @media screen and (max-width: 1120px){
    height:280px;
    width:700px;
  }

  @media screen and (max-width: 1050px){
    height:280px;
    width:600px;
  }


  @media screen and (max-width: 915px){
    height:340px;
    width:730px;
  }
  @media screen and (max-width: 800px){
    height:350px;
    width:700px;
  }
  @media screen and (max-width: 741px){
    height:300px;
    width:600px;
  }
  @media screen and (max-width: 620px){
    height:250px;
    width:500px;
  }
  @media screen and (max-width: 560px){
    height:200px;
    width:400px;
  }
  @media screen and (max-width: 412px){
    height:175px;
    width:350px;
  }
  @media screen and (max-width: 375px){
    height:150px;
    width:300px;
  }*/ }
  @media screen and (max-width: 850px) {
    .chart {
      height: 28vw;
      width: 80vw;
      margin: 20px auto; } }
  @media screen and (max-width: 440px) {
    .chart {
      width: 85vw; } }
  @media screen and (max-width: 400px) {
    .chart {
      width: 93vw; } }

.chart__header {
  margin: 5px 0 0px 5px;
  color: #999999;
  font-size: calc(0.6em + 1vw);
  font-weight: 400; }

.chart__headerSubtitle {
  margin: 0 0 15px 6px;
  color: #9D9D9D;
  font-size: 0.8em; }

.chartCard {
  background-color: #ffffff;
  margin: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.chartCard__rightBlock {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
  position: absolute;
  right: 40px;
  font-size: 0.8em; }
  @media screen and (max-width: 770px) {
    .chartCard__rightBlock {
      position: relative;
      order: -1;
      margin: 15px auto 0;
      right: 0;
      font-size: 2.6vw;
      display: block; } }

.chartCart__titleInfoRight,
.chartCart__titleInfoRightSubText {
  align-self: flex-end;
  color: #9D9D9D;
  font-size: calc(0.6em + .8vw); }
  @media screen and (max-width: 1000px) {
    .chartCart__titleInfoRight,
    .chartCart__titleInfoRightSubText {
      font-size: 0.8em; } }
  @media screen and (max-width: 400px) {
    .chartCart__titleInfoRight,
    .chartCart__titleInfoRightSubText {
      font-size: calc(0.6em + .8vw); } }

.chartCard__titleInfoRightEmph {
  font-weight: 700;
  color: #999999; }

.chartCart__titleInfoRight,
.chartCart__titleInfoRightSubText {
  margin-right: 15px; }

.chartCard__footer {
  padding: 10px;
  margin: auto;
  width: 90%;
  display: flex;
  font-size: calc(0.6em + .8vw);
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  text-align: left; }
  @media screen and (max-width: 1066px) {
    .chartCard__footer {
      margin-top: 20px; } }

chartCard__footerText {
  margin-right: 15px; }

.chartCard__footerText, .chartCard__footerTimeStamp {
  margin-right: 15px;
  color: #999999;
  font-size: 0.8em; }

.chartCard__footerBold {
  font-weight: 700;
  color: #999999; }

.movieCard {
  background-color: #ffff;
  width: 44%;
  margin: 10px;
  padding: 25px; }
  @media screen and (max-width: 807px) {
    .movieCard {
      width: 43%; } }
  @media screen and (max-width: 575px) {
    .movieCard {
      width: 100%; } }

.movieCard__subtitle {
  font-weight: bold; }

.movieCard__subtitle, .movieCard__subtitleDetails {
  font-size: .8em; }

.movieCard__date {
  padding-top: 30px; }

.movieCard__button {
  align-content: flex-end;
  font-size: calc(0.6em + 1vw); }

.movieCard__title {
  display: block;
  font-size: calc(0.6em + 2vw);
  font-weight: 500;
  margin-bottom: 15px;
  width: 100%; }

.movieCard__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(0.6em + 1vw); }

.progressChartBar__container {
  color: #9D9D9D;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 30.5vw;
  width: 35%;
  /*
  @media screen and (max-width: 1033px) {
    height:31vw;
  }

  @media screen and (max-width: 988px) {
    height:34vw;
  }
  @media screen and (max-width: 889px) {
    height:35vw;
  }
  @media screen and (max-width: 812px) {
    height:36vw;
  }*/ }
  @media screen and (max-width: 1087px) {
    .progressChartBar__container {
      height: 32vw; } }
  @media screen and (max-width: 850px) {
    .progressChartBar__container {
      flex-direction: row;
      height: 50px;
      margin: 150px 0 30px 0;
      width: 100%;
      justify-content: space-around; } }
  @media screen and (max-width: 650px) {
    .progressChartBar__container {
      margin-top: 20vw; } }
  @media screen and (max-width: 472px) {
    .progressChartBar__container {
      margin-top: 20vw;
      margin-bottom: 0; } }
  @media screen and (max-width: 440px) {
    .progressChartBar__container {
      margin-top: 23vw; } }
  @media screen and (max-width: 400px) {
    .progressChartBar__container {
      margin-top: 25vw; } }

.progressChartBar {
  display: flex;
  flex-direction: column;
  margin: 1vw; }
  @media screen and (max-width: 1000px) {
    .progressChartBar {
      font-size: calc(0.6em + .8vw);
      margin: .8vw; } }
  @media screen and (max-width: 850px) {
    .progressChartBar {
      width: 35%; } }

.progressChartBar__title {
  margin: 10px 0;
  font-size: 0.8em; }
  @media screen and (max-width: 1000px) {
    .progressChartBar__title {
      margin: .4vw 0; } }

.progressChartBar__count {
  font-size: calc(0.6em + 2vw);
  font-weight: 300; }

.progressChartBar__bar {
  width: 100%; }
  @media screen and (max-width: 1000px) {
    .progressChartBar__bar {
      font-size: 0.8em; } }

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }

progress.progressChartBar__bar::-webkit-progress-value,
progress.progressChartBar__bar::-webkit-progress-value {
  background-color: #2BAB90; }

* {
  box-sizing: border-box; }

body {
  background-color: #F3F3F5; }

.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.movies {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
