@import "../abstracts/all";

//BUTTONS//

%button{
  border-radius: $borderRoundedSoft;
  cursor:pointer;
  display: inline-block;
  position: relative;
  @include componentBoxLarge;
  @include lovehate{$self:true}
  transition:$transitionFast background-color;
  white-space: nowrap;
}

//CARD SECTION//

%card{
  border:1px solid black;
  border-radius:3px;
  margin:40px;
  position:relative;
  width:290px;
}

%card__image{
  position:relative;
  max-width: 100%;
}

%card__content {
  color: black;
  @include fontContent;
  @include componentBoxMed;
  line-height: 1.4em;
}
//Positional Classes///

.right{
  float:right;
}
.left{
  float:left;
}
.center{
  margin-left:auto;
  margin-right:auto;
}

.pull-left{
  float:left;
}

.pull-right{
  float:right;
}

